body {
  font-family: Arial;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: white;
  padding: 20px;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}
